@import url('https://fonts.googleapis.com/css?family=Antic&display=swap');

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Antic', sans-serif;
  background: linear-gradient(to right, #000000, #434343);
  width: 100%;

  min-height: 100vh;
}